.rc-container{



}
.rc-left,.rc-news{
    width: 496px;
}
.rc-left{float: left;}
.rc-right{
    margin-left: 50px;
    width:270px;float: left;
}

.left-border,.right-border{
    display: inline-block;
    border-top: 1px solid #e0e0e0;
    height: 1px;
    width:172px;
    margin-bottom: 2px;
}
.rc-news{
    margin-top: 20px;
}
.rc-news li{
    padding: 5px;
    vertical-align: middle;
    line-height: 20px;
    text-align: left;
    min-height: 54px;
    border-bottom: 1px solid #666;
}
.rc-news .title{
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}
.src-net,.src-time{
    color: #666;
}
.hot-point{
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 2px;
}
.now-hot-point{
    font-weight: bold;
    /*float: left;*/
}
.change-a-change{
    /*float: left;*/
}
.hot-point-info{
    margin-top: 20px;
}
.hot-point-info li{
    float: left;
    font-size: 12px;
    width: 134px;
    line-height: 24px;
}